:root {
  --black: #000000;
  --white: #ffffff;
  --green: #2eff04;
  --gray: #454545;
  --marg-sec: 8px;
  --pad-sec: 10px;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-grow: 1;
}

body {
  font-family: monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--green);
}

header {
  border-radius: 50px;
  margin: var(--marg-sec);
  padding: var(--pad-sec);
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#timer {
  padding-right: 10px;
  margin-right: 10px;
}

#quizSection {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: inherit;
  border-style: solid;
  border-width: 2px;
  pad: var(--pad-sec);
  margin: var(--marg-sec);
}

#questionArea {
  contain: content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--gray);
  margin-bottom: 50px;
  border: solid;
  height: 500px;
  width: 750px;
}

button {
	font-size: 20px;
	padding: 10px 20px;
  margin-bottom: 10px;
	background-color: var(--black);
	color: var(--green);
	border: solid;
	cursor: pointer;
}
#nextBut {
    margin-top: 50px;
    font-size: 20px;
    background-color: var(--black);
    color: var(--green);
    border: solid;
    cursor: pointer;
  }

.questions{
  color: var(--green);
  font-size: medium ;
}

.answers{
  font-size: small;
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
  color: var(--green);
  margin: var(--marg-sec);
  padding: var(--pad-sec);
}


#score{
  font-size: larger;
  color: var(--white);
}

#tryAgainBtn{
  margin-top: 50px;
  color: var(--white);
  background-color: var(--green);
}

#highscoreBtn{
  margin-top: 50px;
  color: var(--white);
  background-color: var(--black);
}

.highscoreLog {
  display: block;
  background-color:var(--black);
  border: 1px solid var(--green);
  margin: 60px;
  padding: 20px;
}