:root {
  --black: #161616;
  --white: #ffffff;
  --green: #2eff04;
  --gray: #212020;
  --marg-sec: 8px;
  --pad-sec: 10px;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-grow: 1;
}

body {
  font-family: monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--green);
}

header {
  border-radius: 50px;
  margin: var(--marg-sec);
  padding: var(--pad-sec);
}


#navbar {
  display: flex;
  justify-content: center;
}

#timer {
  font-size: 300%;
  padding-right: 10px;
  margin-right: 10px;
}

q{
  text-wrap: nowrap;
}

#quizSection {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: inherit;
  border-style: solid;
  border-width: 2px;
  pad: var(--pad-sec);
  margin: var(--marg-sec);
}

#questionArea {
  contain: content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  margin-bottom: 50px;
  border: solid;
  height: 500px;
  width: 750px;
}

button {
	font-size: 20px;
	padding: 10px 20px;
  margin-bottom: 10px;
	background-color: var(--black);
	color: var(--green);
	border: solid;
	cursor: pointer;
}
li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: var(--green);
  color: var(--black);
  font-size: 1em;
  position: relative;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

#nextBut {
    font-size: 20px;
    background-color: var(--black);
    color: var(--green);
    border: solid;
    cursor: pointer;
  }

.questions{
  color: var(--green);
  font-size: medium ;
}

#quest{
  margin: var(--marg-sec);
  padding: var(--pad-sec);
  font-size: 30px;
  margin: 30px;
}

.answers{
  font-size: 15px;
  display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
  color: var(--green);
  margin: var(--marg-sec);
  padding: var(--pad-sec);
}

#score{
  margin: 25px;
  font-size: larger;
  color: var(--white);
}

#tryAgainBtn{
  margin: 25px;
  color: var(--black);
  background-color: var(--green);
}

#highscoreBtn{
  color: var(--white);
  background-color: var(--black);
}

#hsLog{
  margin: 10px;
  width: 100%;
}

.highScoreLog {
  display: block;
  background-color:var(--black);
  border: 1px solid var(--green);
  margin: 20px;
  padding: 20px;
}

#hsList{
  margin-right: 20px ;
  max-height: 200px;
  overflow-y: auto;
}

#perfection{
  margin-top: 100px;
}

#youLose{
  margin-top: 100px;
}

#instructions{
  padding-top: 100px;
  margin: 20px;
}

#possible{
  margin-top: 100px;
}